div.imagebox {
/*   border: 1px dashed #0000cc; /* 枠線 */
/*   background-color: #eeeeff;  /* 背景色 */
/*   width: 140px; /* 横幅 */
/*   height: 130px; /* 縦 */
    font-size: 60%;
}

body {background-color:#eeeeff;}

div#joy_canvas_div {
width: 50%;
float: left;
}

div#camera_angles_div {
width: 50%;
float: left;
}

div#arm_motion_div {
width: 100%;
float: left;
}

div#talk_div {
width: 100%;
float: left;
}
